<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
<ul>
  <li><a href="/create">Criar</a></li>
  <li><a href="/list">Listar</a></li>
</ul>
    {{{body}}}

</body>
</html